@font-face {
    font-family: 'Arial';
    src: url('fonts/arial/arial-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Georgia';
    src: url('fonts/georgia/georgia-regular.ttf') format('truetype');
}

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
    --primary-font-family: "Georgia", sans-serif;
    --secondary-font-family: "Arial", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font-family);
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: var(--color-light-l);
}
body.lock {
    overflow: hidden;
}

.background-header,
.background-our-pets,
.background-footer {
    width: 100%;
}

.background-header {
    background: var(--color-light-xl);
}

.background-our-pets {
    background: var(--color-light-l);
}

.background-footer {
    background: url("assets/img/footer-gradient-background.png"), 
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
        linear-gradient(0deg, #211f20, #211f20);    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-header, .section-our-pets, .section-footer {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: var(--primary-font-family);
    font-weight: 400;
}


/*----------------------------------- HEADER -----------------------------------*/

.section-header {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
}

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

        .logo p {
            margin: 0;
            padding: 0;
        }

        .title {
            color: var(--color-dark-l);
            font-size: 32px;
            margin: 0;
            letter-spacing: 0.06em;
            transition: color 0.5s;
        }

            .title:hover {
                color: var(--color-dark-3xl);
            }  

        .subtitile {
            color: var(--color-dark-3xl);
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 1.6em;
            margin-top: 5px !important;
            margin-left: 5px !important;
        }

    .nav {
        display: flex;
    }

    .nav-list {
        display: flex;
        flex-direction: row; 
        list-style-type: none;
    }

        .nav-item {
            margin-left: 35px;
        }

            .nav-link, .nav-link-select {
                text-decoration: none;
                color: var(--color-dark-l);
                line-height: 1.6em;
                font-size: 15px;
                line-height: 24px;
                font-family: var(--second-family);
                transition: color 0.5s;
            }

            .nav-link-select {
                border-bottom: 4px solid #f1cdb3;
                padding-bottom: 2px;
                color: var(--color-dark-3xl);
                cursor: default;
                pointer-events: none;
            }

                .nav-link-select:hover {
                    cursor: default; 
                }

                .nav-link:hover {
                    color: var(--color-dark-3xl);
                    cursor: pointer;
                }


/*----------------------------------- OUR PETS -----------------------------------*/

.section-our-pets {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px 100px 40px;
    max-width: 1280px;
}

    .section-our-pets h2.heading {
        text-align: center;
        letter-spacing: 0.06em;
        line-height: 1.3em;
        font-size: 35px;
        margin: 0;
        color: var(--color-dark-l);
    }

    .pets-cart {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 55px;
        padding: 0;
        color: var(--color-dark-l);
    }

        .pet {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--color-light-s);
            border-radius: 9px;
            max-width: 270px;
            height: 435px;
            margin-bottom: 30px;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            transition: background 0.5s, border 0.5s, box-shadow 0.5s;
        }

            .pet:hover .button-pets {
                background: var(--color-primary-light);
                border: 2px solid var(--color-primary-light);
            }

            .pet:hover {
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            }

            .pet img {
                width: 100%;
                height: auto;
                border-radius: 9px;
            }

            .button-pets {
                border-radius: 50px;
                cursor: pointer;
                font-size: 17px;
                padding: 14px 45px;
                background: none;
                border: 2px solid var(--color-primary);
                color: var(--color-dark-3xl);
                max-width: 187px;
                height: auto;
                letter-spacing: 0.03em;
                font-family: var(--primary-font-family);
                box-sizing: border-box;
                transition: background 0.5s, border 0.5s;
            }

            .button-pets:hover {
                background: var(--color-primary-light);
                border: 2px solid var(--color-primary-light);
            }

            .pet p {
                margin: 30px 0;
                font-size: 20px;
                letter-spacing: 0.06em;
                font-family: var(--primary-font-family);
            }

        .navigation {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
        }

            .arrow {
                width: 52px;
                height: 52px;
                border-radius: 50px;
                text-align: center;
                background: none;
                border: 2px solid var(--color-primary);
                margin: 0 10px;
                color: var(--color-dark-3xl);
                transition: background 0.5s, border 0.5s;

            }

                .arrow:hover {
                    background: var(--color-primary-light);
                    border: 2px solid var(--color-primary-light);
                    cursor: pointer;
                }

                .arrow-active {
                    background: var(--color-primary);
                    border: 2px solid var(--color-primary);
                    cursor: default;
                    pointer-events: none;
                }

                .arrow.inactive {
                    color: var(--color-dark-s);
                    border: 2px solid var(--color-dark-s);
                    background: none;
                    pointer-events: none;
                    cursor: default;
                }


/*----------------------------------- FOOTER -----------------------------------*/

.section-footer {
    padding: 40px 40px 0 40px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    }
    
        .footer-content {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 24%;
        }
    
            .contacts {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: space-between;
                padding: 18px 0 60px 0;
                max-width: 295px;
                min-width: 295px;
            }
    
            .contacts > *:not(:last-child) {
                margin: 0 0 4% 0;
            }
    
                .footer-content h3 {
                    letter-spacing: 0.06em;
                    line-height: 1.3em;
                    font-size: 35px;
                    margin: 0;
                    color: var(--color-light-xl);
                }
    
                .email-link, .phone-link, .contacts-text {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    text-decoration: none;
                    color: var(--color-primary);
                    transition: color 0.5s;
                }
    
                .email-link:hover, .phone-link:hover, .contacts-text:hover {
                    color: var(--color-light-xl);
                }
    
                    .email-link img, .phone-link img, .contacts-text img {
                            width: auto;
                            height: auto;
                            margin-right: 17px;
                    }
    
                    .email-link p, .phone-link p, .contacts-text p {
                        margin: 0;
                        font-family: var(--primary-font-family);
                        letter-spacing: 0.06em;
                        font-weight: 400;
                        line-height: 1.15em;
                        font-size: 20px;
                    }
    
            .footer-img {
                max-width: 300px;
                height: auto;
                align-items: center;
                margin-left: 15px;
            }


/*----------------------------------- MOBILE NAV -----------------------------------*/

.mobile-nav-fade, .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    transition: transform 0.5s ease, right 0.5s ease;
}

.mobile-nav {
    background-color: var(--color-dark-3xl);
    max-width: 320px;
    transform: translateX(100%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .mobile-nav.active {
        transform: translateX(0);
    }

    .mobile-nav-fade {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
        transition: opacity 0.5s ease;
    }

    .mobile-nav-fade.active {
        display: block;
        opacity: 1;
    }

    .mobile-nav-list {
        list-style-type: none;
        font-size: 32px;
        color: var(--color-dark-s);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 257px 38px 0 0;
    }

    .mobile-nav-list a {
        text-decoration: none;
        color: inherit;
        
    }

    .mobile-nav-list > *:not(:first-child) {
        margin-top: 52px;
    }

    .mobile-nav-link-select {
        border-bottom: 3px solid #f1cdb3;
        padding-bottom: 6px;
        color: var(--color-light-s);
        pointer-events: none;
        cursor: default;
    }

    .mobile-nav-link:hover {
        color: var(--color-light-s);
        cursor: pointer;
        transition: color 0.5s;
    }

  
/*----------------------------------- POPUP -----------------------------------*/

.popup.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: var(--primary-font-family);
    letter-spacing: 0.06em;
    line-height: 1.3;
}

.popup-content {
    position: relative;
    background-color: #fafafa;
    border-radius: 10px;
    max-width: 900px;
    max-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.popup-close {
    position: absolute;
    top: -50px;
    right: -42px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 50px;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid var(--color-primary);
    transition: background 0.5s, transform 0.5s;
}

.text-popup {
    max-width: 355px;
    margin: 0 17px 0 32px;
}

    .text-popup h3 {
        font-size: 35px;
        margin: 50px 0 0 0;
        letter-spacing: 0.07em;
    }


#popup-pet-description {
    font-size: 15px;
    color: var(--color-dark-3xl);
    line-height: 1.1;
    margin: 45px 0 35px 0;
}

#popup-pet-type {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1;
    letter-spacing: 0.07em;
}

#popup-pet-details li::marker {
    color: var(--color-primary);
}

#popup-pet-details {
    line-height: 1.75;
    padding-left: 15px;
    letter-spacing: 0.03em;
}

.popup-content img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}