* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background-image: url(./assets/img/Adele.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player {
    width: 400px;
    background: rgba(8, 8, 8, 0.5);
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 4px solid rgba(220, 218, 218, 0.8);
    margin: 50px auto;
}

.current-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    border: 4px solid rgba(220, 218, 218, 0.8);
}

.control-info {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}
    .info-group {
        font-size: 20px;
    }
    .track {
        font-size: 18px;
        color: #ffffff;
    }

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls-button {
    background: none;
    border: none;
    cursor: pointer;
    
}

.controls-button img {
    width: 40px;
    height: 40px;
    margin: 10px 15px;
}

.button-play img, .button-pause img {
    width: 60px;
    height: 60px;
}

.controls-progres {
    margin-top: 10px;
    width: 100%;
    
}

.control-progres {
    border: 1px solid rgba(220, 218, 218, 0.8);
    border-radius: 5px;
}

.progress-current {
    height: 4px;
    background-color: #e2e2e2;
    width: 20%;
    border-radius: 5px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;
}

.volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}
    .volume img {
        width: 20px;
        height: 20px;
    }
    .control-volume {
        -webkit-appearance: none; /* Убираем стандартный стиль для Chrome */
        width: 100%;
        height: 8px;
        background: linear-gradient(to right, #cccccc 50%, transparent 50%); /* Левая часть с цветом, правая — прозрачная */
        border-radius: 5px;
        border: 1px solid rgba(220, 218, 218, 0.8);
        outline: none;
        opacity: 0.7;
        transition: opacity 0.2s;
    }
    .control-volume:hover {
        opacity: 1;
    }  
    .control-volume::-webkit-slider-thumb { /* Стиль для ползунка (thumb) */
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
    
    .control-volume::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }

footer {
    width: 100%;
    background: rgba(8, 8, 8, 0.4);
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.github, .logo {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}

.logo img {
    width: 70px;
    height: auto;
}

footer p {
    margin-top: 10px;
    color: #ffffff;
}
