body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

canvas {
    display: block;
    margin: 20px auto;
}

.volume {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
    .volume img {
        width: 70px;
        height: auto;
    }
    .volume h1 {
        font-size: 1.5rem;
        margin: 0;
    }

footer {
    width: 100%;
    background: linear-gradient(100deg, #68bf44, #064707);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: auto;
}
    footer p {
        margin-top: 10px;
        color: #ffffff;
    }

.github, .logo {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
}
    .github:hover, .logo:hover {
        transform: scale(1.1);
    }
    .logo img {
        width: 70px;
        height: auto;
    }

